@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* Body styles */

  /* ... */

  .main-logo {
    width: 200px;
    height: 200px;
  }

  .google-btn {
    width: 184px;
    height: 36px;
    border-radius: 2px;
    background-color: #4285f4;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .google-icon-wrapper {
    position: absolute;
    margin-top: 0.5px;
    margin-left: 1px;
    width: 40px;
    height: 33px;
    border-radius: 2px;
    background-color: white;
  }

  .google-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 2px 0;
    font-size: 14px;
    color: white;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }

  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }

  .google-btn:active {
    background: #1669F2;
  }

  .touch-scroll-hide {
    -webkit-overflow-scrolling: touch;
  }


  .scrollbar-hide::-webkit-scrollbar {
    width: 24px; 
  }
  
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background color */
    border-radius: 3px; /* Rounded corners */
  }
  
  .food-background {
    background-color: #F5E7E2; /* Use your desired background color */
  }
}
