@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* Body styles */

  /* ... */

  .main-logo {
    width: 200px;
    height: 200px;
  }

  .touch-scroll-hide {
    -webkit-overflow-scrolling: touch;
  }


  .scrollbar-hide::-webkit-scrollbar {
    width: 24px; 
  }
  
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background color */
    border-radius: 3px; /* Rounded corners */
  }
  
  .food-background {
    background-color: #F5E7E2; /* Use your desired background color */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .slideUp {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease-in-out, slideUp 0.5s ease-in-out;
  }
}
